.frame-child15,
.frame-child16 {
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: none;
}
.frame-child15 {
  align-self: stretch;
  width: 1731px;
  background-color: var(--color-steelblue-200);
  max-width: 100%;
}
.frame-child16 {
  height: 92px;
  width: 114px;
  background-color: var(--color-steelblue-100);
}
.image-2-icon1 {
  height: 58px;
  width: 61px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.rectangle-parent8 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-steelblue-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-7xl);
  z-index: 1;
}
.home-page-child {
  height: 102px;
  width: 179px;
  position: relative;
  background-color: var(--color-steelblue-300);
  display: none;
}
.trang-ch1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  z-index: 2;
}
.home-page {
  background-color: var(--color-steelblue-300);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-24xl) var(--padding-9xl) var(--padding-4xl)
    var(--padding-10xl);
  z-index: 1;
}
.about-us1,
.lin-h1,
.thng-tin1 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 178px;
  color: inherit;
  display: inline-block;
  width: 84px;
  height: 36px;
  min-width: 84px;
  white-space: nowrap;
  z-index: 1;
}
.about-us1,
.thng-tin1 {
  left: 326px;
  width: 108px;
  min-width: 108px;
}
.thng-tin1 {
  left: 0;
  width: 113px;
  min-width: 113px;
}
.contact-info {
  margin: 0;
  align-self: stretch;
  height: 36px;
  position: relative;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--blackampwhite-white);
  font-family: var(--font-poppins);
}
.contact-info-wrapper,
.home-page-parent {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
}
.contact-info-wrapper {
  margin: 0;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-4xl);
}
.home-page-parent {
  width: 742px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 93px 0 0;
  gap: var(--gap-18xl);
}
.bell-01-icon1 {
  position: absolute;
  top: 7.3px;
  left: 0;
  width: 33.7px;
  height: 33.7px;
  z-index: 1;
}
.user-avatar-background {
  position: absolute;
  top: 0;
  left: 15.5px;
  border-radius: 50%;
  background-color: var(--blackampwhite-white);
  width: 21px;
  height: 21px;
  z-index: 2;
}
.user-name {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 21px;
  color: inherit;
  display: inline-block;
  width: 9px;
  height: 30.1px;
  min-width: 9px;
  z-index: 3;
}
.user-actions {
  align-self: stretch;
  height: 41px;
  position: relative;
}
.user-actions-wrapper {
  width: 36.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 13px 0 0;
  box-sizing: border-box;
}
.arrow-down-contained-011,
.duotone-user-21 {
  height: 67px;
  width: 66px;
  position: relative;
  z-index: 1;
}
.arrow-down-contained-011 {
  width: 24px;
  height: 24px;
}
.arrow-down-contained-01-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl) 0 0;
}
.frame-parent23,
.user-profile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.frame-parent23 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.nguyen-van-a1 {
  text-decoration: none;
  position: relative;
  color: inherit;
  z-index: 1;
}
.display-name,
.frame-parent22 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.display-name {
  flex-direction: column;
  padding: var(--padding-mini) 0 0;
  font-size: var(--font-size-5xl);
  color: var(--blackampwhite-white);
}
.frame-parent22 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-8xl);
}
.frame-header,
.frame-wrapper7 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-wrapper7 {
  width: 375px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0 0;
  font-size: var(--font-size-mini);
  color: var(--color-black);
}
.frame-header {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-steelblue-200);
  flex-direction: row;
  justify-content: space-between;
  padding: 0 var(--padding-42xl) 0 0;
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--blackampwhite-white);
  font-family: var(--font-poppins);
}
.logout-icon1,
.tra-lch-s-sinh-vin-child {
  width: 24px;
  height: 24px;
  position: relative;
  display: none;
}
.tra-lch-s-sinh-vin-child {
  width: 320px;
  height: 1015px;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-whitesmoke-100);
}
.tra-lch-s-sinh-vin-item {
  width: 332px;
  height: 72px;
  position: relative;
  background-color: var(--color-gainsboro-100);
  display: none;
  max-width: 100%;
}
.dashboard2 {
  position: relative;
  display: none;
  min-width: 90px;
}
.thc-hin-in3 {
  min-width: 96px;
}
.kim-tra-lch2,
.thc-hin-in3,
.tra-lch-s-sinh-vin-inner {
  position: relative;
  display: none;
}
.tra-lch-s-sinh-vin-inner {
  width: 320px;
  height: 70px;
  background-color: var(--color-steelblue-200);
}
.logout1 {
  color: var(--blackampwhite-white);
  min-width: 55px;
}
.div14,
.div15,
.logout1,
.menu-icon2 {
  position: relative;
  display: none;
}
.menu-icon2 {
  width: 26px;
  height: 28px;
}
.div14,
.div15 {
  font-size: var(--font-size-sm);
  color: var(--blackampwhite-white);
  min-width: 5px;
}
.div15 {
  min-width: 9px;
}
.tra-lch-s-sinh-vin-child1 {
  width: 320px;
  height: 1px;
  position: relative;
  object-fit: contain;
  display: none;
}
.icon-labels {
  height: 44px;
  width: 98px;
  position: absolute;
  margin: 0 !important;
  top: 32px;
  right: -49px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
}
.sidebar-icons-child {
  height: 19px;
  width: 19px;
  top: 101px;
  right: 36px;
  border-radius: 50%;
  background-color: var(--color-black);
}
.icon-labels1,
.sidebar-icons-child,
.sidebar-icons-item {
  position: absolute;
  margin: 0 !important;
  z-index: 2;
}
.sidebar-icons-item {
  height: 18px;
  width: 18px;
  top: 233px;
  right: 36px;
  border-radius: 50%;
  background-color: var(--color-black);
}
.icon-labels1 {
  height: 44px;
  width: 98px;
  top: 32px;
  right: -49px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-100);
}
.sidebar-items-child {
  align-self: stretch;
  height: 1015px;
  position: relative;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-whitesmoke-100);
  display: none;
}
.home-trend-up1 {
  height: 28px;
  width: 28px;
  position: relative;
  z-index: 5;
}
.dashboard3 {
  position: relative;
  display: inline-block;
  min-width: 91px;
  z-index: 5;
}
.dashboard-button,
.home-dashboard {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.dashboard-button {
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.home-dashboard {
  flex-direction: row;
  gap: var(--gap-5xl);
}
.history-print-label {
  position: absolute;
  top: 1px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 19px;
  height: 19px;
  z-index: 5;
}
.div16 {
  position: absolute;
  top: 0;
  left: 8px;
  display: inline-block;
  width: 6px;
  height: 21px;
  min-width: 6px;
  z-index: 6;
}
.history-print {
  height: 21px;
  width: 19px;
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--blackampwhite-white);
}
.menu-items {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.timer-start-icon1 {
  width: 28px;
  height: 28px;
  position: relative;
  z-index: 5;
}
.timer-start-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-8xs) 0 0;
}
.kim-tra-lch3 {
  position: relative;
  z-index: 5;
}
.print-icon {
  position: absolute;
  top: 1px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 18px;
  height: 18px;
  z-index: 5;
}
.print-label {
  position: absolute;
  top: 0;
  left: 5px;
  display: inline-block;
  width: 10px;
  height: 21px;
  min-width: 10px;
  z-index: 6;
}
.print-icon-parent {
  height: 21px;
  width: 18px;
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--blackampwhite-white);
}
.menu-items1,
.navigation-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.navigation-menu {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-85xl);
}
.sidebar-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-17xl);
}
.divider-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  margin-top: -1px;
  z-index: 5;
}
.logout-button-child {
  height: 70px;
  width: 320px;
  position: relative;
  background-color: var(--color-steelblue-200);
  display: none;
}
.logout-icon2 {
  height: 24px;
  width: 24px;
  position: relative;
  z-index: 6;
}
.divider-parent,
.logout-button {
  align-self: stretch;
  align-items: flex-start;
}
.logout-button {
  background-color: var(--color-steelblue-200);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-4xl) var(--padding-3xl);
  z-index: 5;
}
.divider-parent {
  flex-direction: column;
  gap: var(--gap-mid);
}
.divider-parent,
.sidebar-icons,
.sidebar-items {
  display: flex;
  justify-content: flex-start;
}
.sidebar-items {
  flex: 1;
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-whitesmoke-100);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-81xl) 0 0;
  gap: var(--gap-647xl);
  z-index: 4;
}
.sidebar-icons {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
}
.print-background {
  height: 100%;
  width: 332px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: -20px;
  background-color: var(--color-gainsboro-100);
  z-index: 5;
}
.printer-icon1 {
  height: 27px;
  width: 28px;
}
.printer-icon1,
.thc-hin-in4 {
  position: relative;
  z-index: 6;
}
.print-action,
.sidebar {
  display: flex;
  justify-content: flex-start;
}
.print-action {
  width: 312px;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-4xl) var(--padding-33xl) var(--padding-3xl);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-2xl);
  margin-top: -871px;
}
.sidebar {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  min-width: 208px;
  min-height: 1015px;
}
.menu-icon3 {
  width: 26px;
  height: 28px;
  position: relative;
  z-index: 3;
}
.menu-container,
.sidebar-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-container {
  flex-direction: column;
  padding: var(--padding-21xl) 0 0;
}
.sidebar-parent {
  margin-left: -430px;
  width: 353px;
  flex-direction: row;
  gap: var(--gap-6xs);
  flex-shrink: 0;
  max-width: 100%;
}
.icon {
  width: 24px;
  position: relative;
  height: 24px;
}
.container1,
.state-layer1 {
  flex-direction: row;
  justify-content: center;
}
.state-layer1 {
  display: flex;
  align-items: center;
  padding: var(--padding-5xs);
}
.container1 {
  border-radius: var(--br-81xl);
  overflow: hidden;
}
.container1,
.content,
.leading-icon {
  display: flex;
  align-items: center;
}
.leading-icon {
  width: 48px;
  height: 48px;
  flex-direction: column;
  justify-content: center;
}
.content {
  width: calc(100% - 56px);
  border: 0;
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
  box-sizing: border-box;
  font-family: var(--font-roboto);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.icon1,
.icon2 {
  height: 24px;
  width: 24px;
  position: relative;
}
.icon2 {
  margin: 0;
}
.nd-trailing-icon {
  width: 48px;
  background-color: var(--schemes-on-surface-variant);
  height: 48px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-bar1,
.state-layer,
.trailing-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.search-bar1,
.state-layer {
  justify-content: flex-start;
}
.state-layer {
  align-self: stretch;
  flex: 1;
  padding: var(--padding-9xs);
  gap: 4px;
}
.search-bar1 {
  width: 584px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.23);
  border-radius: 28px;
  background-color: var(--blackampwhite-white);
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  height: 41px;
  overflow: hidden;
  flex-shrink: 0;
}
.lc-theo-thi {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
  display: inline-block;
  min-width: 105px;
}
.time-printer,
.time-printer-label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.time-printer-label {
  gap: var(--gap-5xs);
}
.time-printer {
  padding: 0 var(--padding-2xs) 0 var(--padding-12xs);
}
.frame-child17 {
  height: 38px;
  width: 148px;
  position: relative;
  box-shadow: 0 2px 8.9px -3px #000;
  border-radius: var(--br-3xs);
  background-color: var(--blackampwhite-white);
  border: 1px solid var(--blackampwhite-white);
  box-sizing: border-box;
  display: none;
}
.polygon-icon {
  width: 23px;
  height: 16px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.polygon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
}
.tun-ny {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
  z-index: 1;
}
.filter-items,
.rectangle-parent9 {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent9 {
  box-shadow: 0 2px 8.9px -3px #000;
  border-radius: var(--br-3xs);
  background-color: var(--blackampwhite-white);
  border: 1px solid var(--blackampwhite-white);
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-3xs) var(--padding-7xs);
  gap: var(--gap-6xs);
  font-size: var(--font-size-sm);
}
.filter-items {
  flex-direction: column;
  gap: var(--gap-4xs);
}
.lc-theo-my {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
}
.printer-parent {
  flex-direction: row;
  gap: var(--gap-6xs);
}
.filter-items-inner,
.filter-items1,
.printer-parent,
.rectangle-parent10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.filter-items-inner {
  flex-direction: row;
  padding: 0 var(--padding-8xs);
}
.filter-items1,
.rectangle-parent10 {
  align-self: stretch;
  flex: 1;
}
.rectangle-parent10 {
  box-shadow: 0 2px 8.9px -3px #000;
  border-radius: var(--br-3xs);
  background-color: var(--blackampwhite-white);
  border: 1px solid var(--blackampwhite-white);
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-sm) var(--padding-7xs);
  gap: 10px;
  font-size: var(--font-size-sm);
}
.filter-items1 {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.filter-items-parent {
  height: 72px;
  width: 322px;
  align-items: flex-end;
  gap: var(--gap-7xl);
}
.filter-items-parent,
.search-bar,
.search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.search-bar {
  align-items: flex-end;
  gap: 56px;
}
.search-bar-container {
  align-items: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.table-background {
  height: 950px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -192px;
  left: 0;
  border-radius: 16px;
  background-color: var(--blackampwhite-white);
  border: 1px solid #acacac;
  box-sizing: border-box;
}
.ti-liu {
  width: 73px;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.header-cells {
  width: 114px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.gi-bt-u {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.header-cells1 {
  width: 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm) 0 0;
  box-sizing: border-box;
}
.gi-kt-thc {
  position: relative;
  display: inline-block;
  min-width: 105px;
  z-index: 1;
}
.header-cells2 {
  width: 132px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.s-lng-giy,
.thng-tin-my {
  width: 122px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.thng-tin-my {
  width: 154px;
}
.table-header-row {
  width: 1014px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frame-child20,
.table-header {
  box-sizing: border-box;
  max-width: 100%;
}
.table-header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-13xl) 0 var(--padding-17xl);
}
.frame-child20 {
  height: 88px;
  width: 1082px;
  position: relative;
  border-radius: var(--br-29xl);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-silver-200);
  display: none;
}
.chapter1pdf {
  margin: 0;
}
.chapter1pdf-chapter2pdf-work-container {
  position: relative;
  z-index: 1;
}
.icon-placeholders-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mid) var(--padding-6xs) 0 0;
}
.time-placeholders-wrapper {
  width: 182px;
  padding: var(--padding-mid) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.id-200-ta-b2-phng-302-wrapper,
.quantity-placeholders-wrapper,
.time-placeholders-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.quantity-placeholders-wrapper {
  width: 64px;
  padding: var(--padding-mid) var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.id-200-ta-b2-phng-302-wrapper {
  padding: var(--padding-6xs) 0 0;
}
.frame-child21,
.group-div {
  border-radius: var(--br-29xl);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  max-width: 100%;
}
.group-div {
  align-self: stretch;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-42xl) var(--padding-2xs)
    var(--padding-17xl);
  min-height: 88px;
  gap: var(--gap-xl);
  z-index: 1;
}
.frame-child21 {
  height: 88px;
  width: 1082px;
  position: relative;
  background-color: var(--blackampwhite-white);
  display: none;
}
.id-200-ta-b2-phng-302-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.rectangle-parent11,
.table-row {
  align-self: stretch;
  align-items: flex-start;
  max-width: 100%;
}
.rectangle-parent11 {
  border-radius: var(--br-29xl);
  background-color: var(--blackampwhite-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-42xl) var(--padding-2xs)
    var(--padding-17xl);
  min-height: 88px;
  gap: var(--gap-xl);
  z-index: 1;
}
.table-row {
  gap: var(--gap-7xl);
}
.table-body,
.table-container,
.table-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.table-body {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-7xl);
  max-width: 100%;
  font-size: var(--font-size-sm);
}
.table-container {
  margin-bottom: -27px;
  flex: 1;
  align-items: flex-end;
  gap: 48px;
  max-width: calc(100% - 69px);
}
.arrow-icon {
  height: 7px;
  width: 7px;
  position: relative;
}
.arrow-wrapper {
  width: 10px;
  height: 7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
}
.thumb,
.vspacer {
  width: 13px;
  height: 25px;
}
.vspacer {
  position: relative;
  display: inline-block;
}
.thumb {
  background-color: var(--color-silver-100);
  flex-direction: column;
}
.arrow-container,
.scrollbar,
.scrollbar-handle,
.thumb {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.scrollbar-handle {
  width: 13px;
  height: 33px;
  flex-direction: column;
  gap: var(--gap-12xs);
  z-index: 2;
}
.arrow-container,
.scrollbar {
  width: 10px;
  height: 7px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-10xs);
  box-sizing: border-box;
  z-index: 1;
}
.scrollbar {
  height: 673px;
  width: 16px;
  background-color: #f1f1f1;
  flex-direction: column;
  padding: var(--padding-7xs) var(--padding-12xs);
  gap: 621px;
  z-index: 2;
  font-size: 4px;
  color: var(--color-silver-100);
  font-family: var(--font-roboto);
}
.search-bar-container-parent,
.table-background-parent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.table-background-parent {
  flex-direction: row;
  align-items: flex-end;
  padding: 48px var(--padding-6xs) var(--padding-6xs) 54px;
  box-sizing: border-box;
  position: relative;
  gap: 53px;
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
}
.search-bar-container-parent {
  flex-direction: column;
  align-items: flex-start;
  gap: 81px;
  flex-shrink: 0;
}
.frame-main,
.frame-wrapper8,
.tra-lch-s-sinh-vin {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  color: var(--color-black);
}
.frame-wrapper8 {
  flex-direction: column;
  padding: 103px 0 0;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-xs);
  font-family: var(--font-roboto);
}
.frame-main,
.tra-lch-s-sinh-vin {
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
}
.frame-main {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-75xl) 0 422px;
  box-sizing: border-box;
  gap: 77px;
  max-width: 100%;
}
.tra-lch-s-sinh-vin {
  width: 100%;
  position: relative;
  background-color: var(--blackampwhite-white);
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-12xs);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1650px) {
  .frame-main,
  .search-bar {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1275px) {
  .contact-info-wrapper {
    display: none;
  }
  .home-page-parent {
    width: 309px;
  }
  .sidebar-items {
    padding-top: var(--padding-46xl);
    box-sizing: border-box;
  }
  .table-header-row {
    flex-wrap: wrap;
  }
  .group-div,
  .rectangle-parent11 {
    flex-wrap: wrap;
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .table-background-parent {
    height: auto;
    padding-left: 27px;
    box-sizing: border-box;
  }
  .frame-wrapper8 {
    padding-top: 67px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .home-page-parent {
    gap: var(--gap-lg);
    padding-right: 46px;
    box-sizing: border-box;
  }
  .frame-header {
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .sidebar-items {
    padding-top: var(--padding-23xl);
    box-sizing: border-box;
  }
  .search-bar {
    gap: 28px;
  }
  .table-container {
    gap: var(--gap-5xl);
  }
  .table-background-parent {
    gap: var(--gap-7xl);
    padding-top: 31px;
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .search-bar-container-parent {
    gap: 40px;
  }
  .frame-wrapper8 {
    padding-top: 44px;
    box-sizing: border-box;
  }
  .frame-main {
    gap: var(--gap-19xl);
    padding-left: 211px;
    padding-right: 47px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .home-page-parent {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .sidebar-items {
    gap: var(--gap-314xl);
  }
  .print-action {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .sidebar-parent {
    flex-wrap: wrap;
  }
  .table-background-parent {
    padding-top: var(--padding-xl);
    box-sizing: border-box;
  }
  .search-bar-container-parent {
    gap: var(--gap-xl);
  }
  .frame-main {
    gap: var(--gap-lgi);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
